manifest {
    homePage = 'https://github.com/iarcbioinfo/mutect-nf'
    description = 'Parallel mutect pipeline with nextflow'
    mainScript = 'mutect.nf'
}

profiles {
  conda { 
	  process.conda = "$baseDir/environment.yml" 
    conda.createTimeout = "200 min" 
	}
  docker {
    docker.enabled = true 
    process.container = 'iarcbioinfo/mutect-nf:v2.3'
    pullTimeout = "200 min"
  }
  singularity {
    singularity.enabled = true
    process.container = 'iarcbioinfo/mutect-nf:v2.3'
    pullTimeout = "200 min"
  }
  apptainer {
    apptainer.enabled = true
    process.container = 'iarcbioinfo/mutect-nf:v2.3'
    pullTimeout = "200 min"
  }
  
  iarc_hg38 {
    params{
    	ref = '/data/mca_share/work/hg38/alignment_nf/Homo_sapiens_assembly38/Homo_sapiens_assembly38.fasta'
    	snp_vcf = '/data/references/Homo_sapiens/GATK/hg38/gatk-best-practices/somatic-hg38/af-only-gnomad.hg38.vcf.gz'
    	snp_contam = '/data/references/Homo_sapiens/GATK/hg38/gatk-best-practices/somatic-hg38/small_exac_common_3.hg38.vcf.gz'
    	PON = '/data/references/Homo_sapiens/GATK/hg38/gatk-best-practices/somatic-hg38/1000g_pon.hg38.vcf.gz'
    	filter_readorientation = true
    	nsplit = 500
    }
  }
  
  
}

params.output_folder="."

timeline {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_report.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_trace.txt"
}

dag {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/mutect-nf_dag.html"
}
